:root{
    --background: #25002c;
    --text-color-h: #b1fdb8;
    --text-color: #aaaaff;
    --nav-color: #004855a1;
    --nav-button: #ffffff83;
    --nav-text-color1: #080808;
    --nav-text-color2: #ffffff;
    --nav-hover: #3f003a;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
body{
    background: var(--background);
    color: var(--text-color);
    margin: 0;
}

.navbar{
    background: var(--nav-color);
    color: var(--nav-text-color);
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    position: fixed;
}
.logo{
    width: 4.5em;
    height: 4.5em;
    margin-left: 5em;
}
.elements{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-left: auto;
}
.nav-link{
    color: var(--nav-text-color1);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border: 0px solid var(--nav-button);
    font-size: 1.1em;
    padding:0.5em 1.2em;
    border-radius: 0.3em;
    background-color: var(--nav-button);
    transition: all 0.2s ease-in;
}
.nav-link:hover{
    background-color: var(--nav-hover);
    color: var(--nav-text-color2);
    border-radius: 2em;
}
div{
    margin-bottom:5em;
    padding: 5em 0;
    font-size: 1.2em;
}

.title{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em;
    color: var(--text-color-h)
}

form{ 
    width: 31%;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    border: 1px solid var(--text-color-h);
    border-radius: 0.3em;
    background-color: var(--background);
}
#mail{
    font-size: 1.5em;
    padding: 0.3em;
    border-radius: 0.3em;
    border: 5px solid #92fc9200;
}
#mail:hover{
    border: 5px solid #6cff6c;
}
#pwd{
    font-size: 1.5em;
    padding: 0.3em;
    border-radius: 0.3em;
    border: 5px solid #92fc9200;
}
#pwd:hover{
    border: 5px solid #6cff6c;
}
#send{
    font-size: 1.5em;
    border-radius: 0.8em;
    padding: 0.3em;
    transition: all 0.15s ease-in;
}
#sign{
    font-size: 1.5em;
    border-radius: 0.8em;
    padding: 0.3em;
    transition: all 0.15s ease-in;
}
#send:hover{
    background-color: #a7a7a7;
}
#sign:hover{
    background-color: #a7a7a7;
}